h1{
    color:blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    margin: 10px;
}

h2{
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

p{
    color: black;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
}

.menu{
    display: block;
    background-color:beige;
    width: 600px;
    height: 100px;
}